.App {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-body);
}

.main-content-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Reset footer default styles if necessary to not interfere with full height layouts */
